form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
textarea {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid var(--border);
}

textarea {
  min-height: 140px;
  resize: none;
}